@@charset "UTF-8";


html body {
    font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS P ゴシック", "MS P Gothic", Verdana, sans-serif;
    line-height: 1.6;

}

body {
    background: url("../images/basketball.jpg") no-repeat fixed left bottom;
    background-size: cover;
    -webkit-font-smoothing:antialiased;
}



h2{
  color: #fff;

}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}


#wrapper{
  position: relative;
}
#header {
    background: #000000;
    height: 98px;
    position: relative;
    margin: 0;
}


#header_inner h1{
  width: 300px;
  color: #ffffff;
  background-color:#FFA200;

}


#header_inner {
    width: 950px;
    margin: 0 auto;
    height: 98px;
    position: relative;
    display: flex;
}

#menu{
  display:flex;
  width: 650px;
  height: 98px;
  padding: 35px 0;
  justify-content: space-around;
}




#menu li a{
  display: block;;
  padding:10px 20px;
  text-decoration: none;
  color:#ffffff;
  letter-spacing: 2px;

}

#menu a::after{
  border-bottom: solid 2px #FFBA00;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

#menu a:hover::after{
  width: 100%;
}

#content {
    position: relative;
    z-index: 1;
  }

  #content_inner {
    width: 950px;
    margin: 20px auto 0;
}

#slideMain{
  position: relative;;
  overflow: hidden;
  height: 450px;

}

#slideMain ul{
  position: absolute;
  width: 2850px;
}

#slideMain li{
  float: left;
  width: 950px;
  list-style-type: none;
}

#prevBtn{
  position: absolute;
  top:225px;
  left:20px;
}

#nextBtn{
  position: absolute;
  top:225px;
  right: 20px;
}


/*---------------*/
#top_message_box{
  background:#292828;
  margin: 20px 0 20px 0;
  padding: 10px;
  border-top: solid 5px #7a7878;


}

#ticker_roll{
  display: block;
  overflow: hidden;
  position: relative;
  height: 32px;
  background-color: #fff
}

#ticker_roll ul{
  display: flex;
  height: 32px;
}





#top_message_box_innner li{
  display: block;
  vertical-align: middle;
}


/*------------------*/

#news_box_ttl h2{
  font-size: 1.9rem;
}
#news_box{
  display: block;
  background: #292828;
  margin: 20px 0 20px 0;
  border-top: solid 5px #7a7878;

}

#news_box_inner{
  padding:10px;
  background: #292828;
}


#news_box_ttl{
  position: relative;
  padding: 0 0 10px 0;
}


.news_box_list {
  background: #fff;
   position: relative;
   padding: 10px;
   border-bottom: 1px dotted #666666;
}

#square{
  display: inline-block;
  border: 1px solid #aaa;
  width: 10px;
  height: 10px;
  background-color: #FFBA00;
  vertical-align: -0.5px;
  margin-right: 10px;
}
.l h3{
  margin:0 0 20px 0;
  font-weight: bold;
}

#line_height{
  line-height: 1.7rem;
}

#top_box #news_box .news_box_list .l {
    float: left;
    width: 700px;
  }
#top_box #news_box .news_box_list .r {
    float: right;
    width: 160px;
}

.r img{
  border-radius: 50%;
}

.target{
  transition:transform .5s;
  -webkit-transition: transform .5s;

}

.r img:hover{
  transform: rotateY(360deg);
  -webkit-transition:rotateY(360deg);
}
/*--------------------------*/

#hobby_box_ttl h2{
  font-size: 1.9rem;
}
#hobby_box{
  display: block;
  background: #292828;
  margin: 20px 0 20px 0;
  border-top: solid 5px #7a7878;
}

#hobby_box_inner{
  padding: 10px;
  background: #292828;
}


#hobby_box_ttl{
  position: relative;
  padding: 0 0 10px 0;
}


#hobby_box_details{
  display: block;
  background-color: #fff;
  padding: 10px
}

#hobby_box_introduction p{
  text-align: center;
  line-height: 1.9rem;
  font-weight: bold;
}


.subtitle{
  margin:0 0 30px;
  letter-spacing: 1px;
}

.subtitle::before,
.subtitle::after{
  content:'';
  display: inline-block;;
  width: 140px;
  height: 2px;
  margin:30px;
  background-color: #000000;
  vertical-align: middle;
}


#hobby_box_first{

  border-top: 3px solid #d7d8df;
  border-bottom: 1.5px solid #d7d8df;
  background-color: #fafafa;
  padding: 20px 25px 20px 30px;
  width: auto ;

}

#hobby_box_second{

  border-top: 1.5px solid #d7d8df;
  border-bottom: 3px solid #d7d8df;
  background-color: #fafafa;
  padding: 20px 25px 20px 30px;
  width: auto ;

}

#hobby_box_first_l{
  float: left;
}
#hobby_box_first_r{
  float: left;
  width: 600px;
  margin-left: 30px;
}

#hobby_box_first_ttl{
  display: block;
    font-size: 18px;
    font-weight: bold;
    height: auto ;
    margin-bottom: 20px;
    text-align: center;
}

#hobby_box_second_r{
  float: right;
}

#hobby_box_second_l{
  float: left;
  width: 600px;
  margin-right: 30px;
}

#hobby_box_second_ttl{
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: auto ;
    margin-bottom: 20px;
    text-align: center;
}

#hobby_box_first_info p{
  line-height: 1.3rem

}

#hobby_box_second_info p{
    line-height: 1.3rem
}

#hobby_box_first_info a{
  margin-top: 30px;
  width: 80px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background: linear-gradient(#fefefe 0%, #ebebeb 100%);
  display: block;
  line-height: 33px;
}

#hobby_box_second_info a{
  margin-top: 30px;
  width: 80px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background: linear-gradient(#fefefe 0%, #ebebeb 100%);
  display: block;
  line-height: 33px;
}

strong{

  background: linear-gradient(transparent 55%, #fafa00 55%, #fafa00 100%);
}
/*---------------------------------*/
#fuzake_box_ttl h2{
  text-align: left;
  font-size: 1.9rem;
}

#fuzake_box{
  display: block;
  background: #292828;
  margin: 20px 0 20px 0;
  border-top: solid 5px #7a7878;
}

#fuzake_box_inner{
  padding: 10px;
  background: #292828;
}

#fuzake_box_ttl{
  position: relative;
  padding: 0 0 10px 0;
}


#fuzake_box_details{
  display: block;

  background: url("../images/ocean.jpg");
  background-size: cover;


}

#main_image img{
  border-radius: 50%;
}

#fuzake_box_inner{
text-align: center;


}

#sub_img{
  position: relative;
  text-decoration: none;
}
#sub_img li{
  display: inline-block;


}
#sub_img p{
  color: #ffff;
  text-decoration: none;
}
#sub_img a{
  text-decoration: none;
}

#thanks {
  background-color: #FFBA00;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  line-height: 1.7rem;
  color: #ffff;
  font-weight: bold;


}

#omg {
  background-color: #FFBA00;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  line-height: 1.7rem;
  color: #ffff;
  font-weight: bold;

}


#thanks{
  margin-right: 60px;
}


#circle_box span {
   background-color: #FFBA00;
   color: white;
   border-radius: 15px;
   padding: 2px;
}

#circle_box p{
  font-size:20px;
}


/*---------------------------*/

#footer {
    background: #000000;
    height: auto;
    margin: 0;
    width: 100%;


}
#footer_inner {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  height: 98px;
}

#footer_inner h1{
  color: #ffffff;
  padding: 40px 0 0 0;
  font-size: 1.8rem;


}


#logo{
  margin-bottom: 20px;
}

#logo img{
  margin-left: 30px;
  margin-top: 30px;
}

/*-------------------------*/

#works_box_ttl h2{
  font-size: 1.9rem;
}
#works_box{
  display: block;
  background: #292828;
  margin: 20px 0 20px 0;
  border-top: solid 5px #7a7878;
}

#works_box_inner{
  padding: 10px;
  background: #292828;
}


#works_box_ttl{
  position: relative;
  padding: 0 0 10px 0;
}



#works_box_details{
  display: block;
  background-color: #fff;
  padding: 10px 10px 0px 10px;
  display: flex;
}


#works_box_r{
  width: 100%;
  text-align: center;
  margin:15px;
  line-height: 2.6rem;
}

.app_ttl{
  font-size: 2rem;
  margin: 15px;
}

#works_box_user{
  border: 1px solid #000000;
  border-radius: 5px;
}

#works_box_user a{
  text-decoration: none;
  color: red;
}